
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=


MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
S3_BUCKET_NAME=
S3_ENDPOINT_URL=

CELERY_RESULT_BACKEND=


INGESTION_INTERVAL_SECONDS=
TASKS_API_URL=
METRICS_API_URL=
